<!--@@master = components/master.tmpl.html -->

<!--@@block = content-->
<div class="overlay">
    <div class="overlay-header">
        <h2 class="overlay-header-title">Lake Wakatipu</h2>
    </div>
    <span class="overlay-close">x</span>
    <div class="overlay-img">
        <img src="" alt="New Zealand" class="overlay-img-pic">
    </div>
</div>
<div class="content">
    <div class="content-headerContent">
        <h1 class="content-headerContent-head">New Zealand</h1>
        <p class="content-headerContent-desc">
            This project might be trickier than it seems. Look around carefully. What you see? The sky is blue, the grass is green. The sun shines through the window.
        </p>
    </div>
    <div class="content-row rowTop">
        <div class="content-row-col colLeft">
            <div class="content-row-col-img circlePic">
                <picture>
                    <source
                            media="(min-width: 1610px)"
                            srcset="img/new-zealand-circle-w1000.jpg">
                    <source
                            media="(min-width: 1024px)"
                            srcset="img/new-zealand-circle-w800.jpg">
                    <source
                            media="(min-width: 1024px)"
                            srcset="img/new-zealand-circle-w800.jpg">
                    <img
                            src="img/new-zealand-circle-w400.jpg" alt="New Zealand" class="content-row-col-img-pic circle">
                </picture>
            </div>
        </div>
        <div class="content-row-col colRight">
            <div class="content-row-col-img rectPic">
                <picture>
                    <source
                            media="(min-width: 1610px)"
                            srcset="img/new-zealand-rect-w1000.jpg">
                    <source
                            media="(min-width: 1024px)"
                            srcset="img/new-zealand-rect-w800.jpg">
                    <source
                            media="(min-width: 1024px)"
                            srcset="img/new-zealand-rect-w800.jpg">
                    <img
                            src="img/new-zealand-rect-w400.jpg" alt="New Zealand" class="content-row-col-img-pic rect">
                </picture>
            </div>
        </div>
    </div>
    <div class="content-row rowBottom">
        <div class="content-row-col colLeft">
            <div class="content-row-col-img squarePic">
                <picture>
                    <source
                            media="(min-width: 1610px)"
                            srcset="img/new-zealand-square-w1000.jpg">
                    <source
                            media="(min-width: 1024px)"
                            srcset="img/new-zealand-square-w800.jpg">
                    <source
                            media="(min-width: 1024px)"
                            srcset="img/new-zealand-square-w800.jpg">
                    <img
                            src="img/new-zealand-square-w400.jpg" alt="New Zealand" class="content-row-col-img-pic square">
                </picture>
            </div>
        </div>
        <div class="content-row-col colRight">
            <div class="content-row-col-img trianglePic">
                <picture>
                    <source
                            media="(min-width: 1610px)"
                            srcset="img/new-zealand-triangle-w1000.jpg">
                    <source
                            media="(min-width: 1024px)"
                            srcset="img/new-zealand-triangle-w800.jpg">
                    <source
                            media="(min-width: 1024px)"
                            srcset="img/new-zealand-triangle-w800.jpg">
                    <img
                            src="img/new-zealand-triangle-w400.jpg" alt="New Zealand" class="content-row-col-img-pic triangle">
                </picture>
                <div class="trianglePic-helpLeft triangle"></div>
                <div class="trianglePic-helpRight triangle"></div>
            </div>
        </div>
    </div>
</div>
<!--@@close-->