<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Zealand</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/app.min.css">
</head>
<body>
    <div class="wrapperPage">
        <div class="wrapperPage-helpWrapp">
            <main class="contentPage">
                <!--@@placeholder = content-->
            </main>
        </div>
    </div>

    <script src="js/app.min.js"></script>
</body>
</html>